{% extends "base.html" %}
{% block asif %}
<div class="bki">
    <br>
    <h2 style="text-align: center;">Watch History :</h2>
    <br>
<div class="row">

{% if history %}
{% for h in history %}

{% include "list-inline.html" with object=h.video_name %}

{%endfor%}
</div>
<form style="text-align: center;" method="post" action="."  onclick="javascript:alert('History Cleard')">{% csrf_token %}
    <button class="btn btn-danger"  type="submit">Clear History</button>

</form>
<br>
</div>
{%else%}

<h1 style="text-align: center;">No History Found...!</h1>

{%endif%}
<div class="space"></div>
<style>
  /* Add this if you need custom spacing */
  .space {
      padding-top: 30%; /* Adjust according to your navbar's height */
  }
</style>
{%endblock%}

