{% extends "base.html" %}
{% block asif %}

<div class="bki">
    <h1 style="text-align: center; font-weight: bold;">Settings</h1>
    <br>
<div class="cent">
<div class="card1">
    <div class="card-img">
    </div>
    <br>
    <p class="text-title">{{user}}</p>
    <br>
    <br>
    <a href="/settings/account-info/"><button class="card-btn">Account info</button></a>
       <a href="/settings/change-password/"><button class="card-btn">Change Password</button></a>
       <a href="/settings/delete_user/"><button class="card-btn">Delete Account</button></a>
      
    </div>
</div>
<br>
<br>
</div>
<style> 


    /* .cent {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
} */
.card1 {
 width: 400px;
 height: 500px;
 margin-left: 550px;
 background: transparent;
 overflow: visible;
 background-image: linear-gradient(to bottom, #000000,#000000fc);
 box-shadow: 0 5px 20px 2px rgba(34, 33, 33, 0.8);
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 25px;
}

.card-btn{
    border: none;
    color:  #eaeaeab8;
    background-color: transparent;
    /* margin-top: 5px; */
    /* margin-bottom: 10px; */
    box-shadow:  0 5px 20px 2px rgba(17, 16, 16, 0.5);
    height: 70px;
    width: 395px;
}
.card-btn:hover{
    background-color: #37353780;
    color: white;
    border-radius: 25px;
}




/*Text*/
.text-title {
 text-transform: uppercase;
 font-size: 1em;
 color: #ffffff;
 letter-spacing: 0.05rem;
}



</style>


{%endblock%}