{% extends "base.html" %}
{% block asif %}
<div class="col-6 col-md-2 mt-5 mb-2 mx-auto">
        <div class="row">
      <form class="login-form" method="post">{% csrf_token%}
        <span class="ftitle">Change password</span>
        <label for="username" class="flabel">Old password</label>
        <div class="finput">
            {{ form.old_password}}
            </div>
            {{form.errors.old_password}}
       
        <label for="email" class="flabel">Password</label>
        <div class="finput">
            {{form.new_password1}}
            </div>
            {{form.errors.new_password1}}
        <label for="password" class="flabel">Confirm Password</label>
       
    <div class="finput">
        {{form.new_password2}}
        </div>
        {{form.errors.new_password2}}
        <br>
        <button type="submit" class="fsubmit">Submit</button>
        <a href="/login/">login</a>
      </form>
        </div>
      </div>
{%endblock%}