{% extends "base.html"%}
{%block asif%}
{%if play%}
<div class="bck">
<div id="vh"  class="vcont">
<div class="row">
    <video style="border-radius: 25px; border: none; margin-top: 2%;margin-bottom: 2%;margin-left: 2%; height:auto; width: 60%;"
      width="200px" height="align-top"  autoplay="autoplay" controls="controls" preload="preload">
    <source src="{{play.file.url}}" type="video/mp4"></source>
    </video>
</div>
<div id="pl">
  <h1>{{play.title}}</h1>
</div>
<div class="hel"><h1>
</h1>
<!-- <div class="card border-succes mb-3">
  <div class="card-body">
    <h5 class="card-title">{{play.title}}</h5>
    <p class="card-text">{{play.content}}</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div> -->
</div>
</div>
</div>




<div class="card border-succes mb-3">
  <div class="card-body">
    <h5 class="card-title">{{play.title}}</h5>
    <p class="card-text">{{play.content}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
{% if user.is_superuser %}
<button type="button"><a href="{{play.edit_url}}">edit</a></button>
<button type="button"><a href="{{play.delete_url}}">delete</a></button>
{%endif%}

{%endif%}



<div class="row">
  {% if play.series.type == "series" %}
  <h1 id="li-s">list :</h1>
{% for i in list %}


 {% include "list-inline.html"  with object=i  %}

{% endfor%}
{% endif %}
</div>
<hr class="solid">
<div class="bck">
<h3>More like this :</h3>

<div class="row">
{% for r in rec %}
{% include "home-inline.html" with i=r %}
{%endfor%}
</div>
</div>
<hr class="solid">

    <style>
    .hr.solid {
      border-top: 8px solid #bbb;
       border-radius: 5px;
    }
    </style>


<div class="col-6 col-md-5  mb-2 mx-auto">
    <div class="row">
  <div class="card">
    <div class="card-body">
    <h3>Comment Section</h3>
  
  <form method="POST" action="."> {% csrf_token %}
  
      <div class="form-group">
          <label for="exampleFormControlTextarea1"></label>
          <textarea class="form-control" name="text"  id="exampleFormControlTextarea1" plarows="3" placeholder="Enter text here"></textarea>
        </div>
  
          <div class="form-group">
              <label for="exampleFormControlInput1"></label>
              <input type="text" class="form-control" name="username" id="exampleFormControlInput1" placeholder="User Name">
            </div>
  
            <div class="form-group">
              <label for="exampleFormControlInput1"></label>
              <input type="email" class="form-control"  name="email" id="exampleFormControlInput1" placeholder="Email">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1"></label>
              <textarea class="form-control" name="title"  id="exampleFormControlTextarea1" rows="3">{{objects.get_title}}</textarea>
            </div>

            
      
            
      <br>
      
      <div>
      <button type="submit" class="btn btn-outline-secondary" >send</button>
      </div>
  </form>
  </div>
    </div></div></div>
    <hr class="solid">
   

{%endblock%}


