{% extends "base.html"%}

{% block asif%}



{% if query %}
<p>you searched {{query}}</p>
<h1 style="color: aliceblue; text-transform: capitalize; text-align: center;">{{query}}</h1>
<div class="bki">
  <br>
<div class="row">
{% for items in search %}


{% include "home-inline.html" with i=items %}
{%endfor%}
</div>
</div>
{% else %}
<h2 style="color: aliceblue;">Seems like you did not search anything....!</h2>

<form class="d-flex" role="search" action="/search/">
    <input class="form-control me-2" type="search"  name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

{%endif%}

{% endblock %}